# References

1. https://www.kaggle.com/niyamatalmass/lightfm-hybrid-recommendation-system
2. https://towardsdatascience.com/how-i-would-explain-building-lightfm-hybrid-recommenders-to-a-5-year-old-b6ee18571309

In [3]:
from google.colab import drive
drive.mount("/gdrive")

Mounted at /gdrive

In [2]:
!pip install lightfm

Collecting lightfm
  Downloading https://files.pythonhosted.org/packages/5e/fe/8864d723daa8e5afc74080ce510c30f7ad52facf6a157d4b42dec83dfab4/lightfm-1.16.tar.gz (310kB)
     |████████████████████████████████| 317kB 6.6MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lightfm) (1.18.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from lightfm) (1.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from lightfm) (2.23.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from lightfm) (0.22.2.post1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (2020.11.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (2.10)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->lightfm) (0.17.0)
Building wheels for collected packages: lightfm
  Building wheel for lightfm (setup.py) ... done
  Created wheel for lightfm: filename=lightfm-1.16-cp36-cp36m-linux_x86_64.whl size=704288 sha256=684be486a06cf3af9696a593a61ee1906e361a3cc3cfdd0bd20680abd6e101f9
  Stored in directory: /root/.cache/pip/wheels/c6/64/d4/673c7277f71ac4c5ad4835b94708c01b653ef2d3aa78ef20aa
Successfully built lightfm
Installing collected packages: lightfm
Successfully installed lightfm-1.16

In [4]:
ls -l /gdrive/MyDrive/colab/Factorization_Machine/data

total 18939
-rw------- 1 root root   197979 Nov 19 04:30 links.csv
-rw------- 1 root root   494431 Nov 24 01:17 movies.csv
-rw------- 1 root root  2483723 Nov 24 01:17 ratings.csv
-rw------- 1 root root   118660 Nov 19 04:30 tags.csv
-rw------- 1 root root   238833 Dec  3 01:17 tag_tokenizer_bpe_100.model
-rw------- 1 root root      672 Dec  3 01:17 tag_tokenizer_bpe_100.vocab
-rw------- 1 root root   370999 Nov 27 05:52 tag_tokenizer_bpe_9000.model
-rw------- 1 root root   114127 Nov 27 05:52 tag_tokenizer_bpe_9000.vocab
-rw------- 1 root root   271684 Dec  3 01:17 tag_tokenizer_input_bpe_100.txt
-rw------- 1 root root   236678 Nov 27 05:52 tag_tokenizer_input_bpe_24000.txt
-rw------- 1 root root   271684 Nov 27 05:57 tag_tokenizer_input_bpe_9000.txt
-rw------- 1 root root   276196 Dec  3 01:17 tag_w2v_bpe_100.model
-rw------- 1 root root   613252 Dec  7 01:32 title_tokenizer_bpe_24000.model
-rw------- 1 root root   340369 Dec  7 01:32 title_tokenizer_bpe_24000.vocab
-rw------- 1 root root   193941 Dec  7 01:32 title_tokenizer_input_bpe_24000.txt
-rw------- 1 root root 13166424 Dec  7 01:32 title_w2v_bpe_24000.model
-rw------- 1 root root        0 Nov 27 08:43 X_data.npy

In [5]:
import pandas as pd
import numpy as np
import os

data_path = "/gdrive/MyDrive/colab/Factorization_Machine/data"
ratings_path = os.path.join(data_path,"ratings.csv")
movies_path = os.path.join(data_path,"movies.csv")
links_path = os.path.join(data_path,"links.csv")
tags_path = os.path.join(data_path,"tags.csv")

ratings = pd.read_csv(ratings_path)
movies = pd.read_csv(movies_path)
links = pd.read_csv(links_path)
tags = pd.read_csv(tags_path)

In [6]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [8]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [9]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

## 1. LightFM Using Categorical Data only 

### 1.1. Data Preparation for making LightFM Dataset

#### 1.1.1. Genre Vectorization
movies DataFrame에 "|"로 구분된 각 영화의 장르를 각각의 element로 나누어 벡터로 표현

In [10]:
unique_genres = np.unique(np.concatenate(np.array(movies.genres.apply(lambda x: np.array(x.split("|"))).tolist())))
dict_gid_2_gnr = { gid:genre for gid, genre in enumerate(unique_genres)} 
dict_gnr_2_gid = { genre:gid for gid, genre in dict_gid_2_gnr.items()}
unique_genres

array(['(no genres listed)', 'Action', 'Adventure', 'Animation',
       'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
       'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western'], dtype='<U18')

In [11]:
gnr_vectors = list()
for gnrs in movies.genres.apply(lambda x: x.split("|")).tolist():
  gnr_vector = np.zeros(len(unique_genres),dtype=np.int8)
  for gnr in gnrs:
    gnr_vector[dict_gnr_2_gid[gnr]] = 1
  gnr_vectors.append(gnr_vector)

In [12]:
movies.loc[:,"genres_vectors"] = pd.Series(gnr_vectors)
movies.head()

   movieId  ...                                     genres_vectors
0        1  ...  [0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...
1        2  ...  [0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...
2        3  ...  [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3        4  ...  [0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...
4        5  ...  [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[5 rows x 4 columns]

#### 1.1.2. Launched Year Vectorization
각 영화가 출시된 년도 값을 장르와 동일하게 년도 별로 구분하여 벡터로 표현

In [13]:
import re

def get_year(regex, string):
  try:
    found = re.search(regex,string).group(0)[1:-1]
  except AttributeError:
    found = ''
  return found

regex = '\([0-9]{4}\)'
movies.loc[:,"launch_year"] = movies.title.apply(lambda x:get_year(regex,x))

In [14]:
movies.head()

   movieId  ... launch_year
0        1  ...        1995
1        2  ...        1995
2        3  ...        1995
3        4  ...        1995
4        5  ...        1995

[5 rows x 5 columns]

In [15]:
movies.loc[movies.launch_year=="","launch_year"] = 0
movies.loc[:,"launch_year"] = movies.launch_year.astype("int")
movies.loc[movies.launch_year==0].head()

      movieId  ... launch_year
6059    40697  ...           0
9031   140956  ...           0
9091   143410  ...           0
9138   147250  ...           0
9179   149334  ...           0

[5 rows x 5 columns]

In [16]:
movies.loc[movies.launch_year != 0,"movie_title"] = movies.loc[movies.launch_year!= 0,"title"].apply(lambda x:x[:-6].strip()) 
movies.loc[movies.launch_year== 0,"movie_title"] = movies.loc[movies.launch_year== 0,"title"]

In [17]:
movies.head()

   movieId  ...                  movie_title
0        1  ...                    Toy Story
1        2  ...                      Jumanji
2        3  ...             Grumpier Old Men
3        4  ...            Waiting to Exhale
4        5  ...  Father of the Bride Part II

[5 rows x 6 columns]

In [18]:
dict_id_2_year = { idx:year for idx, year in enumerate(np.sort(movies.launch_year.unique()))}
dict_year_2_id = { year:key for key, year in dict_id_2_year.items()}

In [19]:
launch_year_vectors = list()
for idx,row in movies.iterrows():
  launch_year= row["launch_year"]
  id = dict_year_2_id[launch_year]
  launch_year_vector = np.zeros(len(dict_year_2_id),dtype=np.int8)
  launch_year_vector[id] = 1
  launch_year_vectors.append(launch_year_vector)

In [20]:
movies.loc[:,"launch_year_vectors"]= pd.Series(launch_year_vectors)

In [21]:
movies.head()

   movieId  ...                                launch_year_vectors
0        1  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1        2  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2        3  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3        4  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4        5  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[5 rows x 7 columns]

In [22]:
!pip install sentencepiece

Collecting sentencepiece
  Downloading https://files.pythonhosted.org/packages/e5/2d/6d4ca4bef9a67070fa1cac508606328329152b1df10bdf31fb6e4e727894/sentencepiece-0.1.94-cp36-cp36m-manylinux2014_x86_64.whl (1.1MB)
     |████████████████████████████████| 1.1MB 5.2MB/s
Installing collected packages: sentencepiece
Successfully installed sentencepiece-0.1.94

#### 1.1.3. Title Vectorization

각 영화마다 가지고 있는 Title값을 token화하고 w2v모델로 임의의 크기의 벡터로 변환

In [23]:
from tqdm import tqdm_notebook
from gensim.models import Word2Vec as w2v
import sentencepiece as spm

### 특수문자 제외 및 단어별 배열로 변경
# list_title_frac= movies.movie_title.apply(lambda x:re.findall(regex,x)).to_list()

vocab_size = 24000
method = "bpe"

input_file_path = os.path.join(data_path,"title_tokenizer_input_{}_{}.txt".format(method,vocab_size))
tokenizer_name = os.path.join(data_path,"title_tokenizer_{}_{}".format(method, vocab_size))
tokenizer_name_model = os.path.join(data_path,"title_tokenizer_{}_{}.model".format(method, vocab_size))

### make_input4tokenizer
# sentences = list(map(lambda x:" ".join(x),list_title_frac))
sentences = movies.movie_title.to_list()


with open(input_file_path,'w',encoding='utf8') as f:
  for sentence in tqdm_notebook(sentences):
    f.write(sentence+'\n')

### train_tokenizer
templates = ' --input={} \
    --pad_id=0 \
    --bos_id=1 \
    --eos_id=2 \
    --unk_id=3 \
    --model_prefix={} \
    --vocab_size={} \
    --character_coverage=1.0 \
    --model_type={}'

cmd = templates.format(input_file_path, tokenizer_name, vocab_size, method)
spm.SentencePieceTrainer.Train(cmd)
print("title_tokenizer {} is generated".format(tokenizer_name))
sp = spm.SentencePieceProcessor()
sp.Load(tokenizer_name_model)


def get_tokens_from_sentences(sp, sentences):
    tokenized_sentences = []
    for sentence in sentences:
        tokens = sp.EncodeAsPieces(sentence)
        new_tokens = []
        for token in tokens:
            token = token.replace("▁", "")
            # if len(token) > 1:
            new_tokens.append(token)
        # if len(new_tokens) > 1:
        tokenized_sentences.append(new_tokens)

    return tokenized_sentences


def get_tokens_from_sentence(sp, sentence):
    new_tokens = []
    tokens = sp.EncodeAsPieces(sentence)
    for token in tokens:
        token = token.replace("▁", "")
        if len(token) > 1:
            new_tokens.append(token)
    return new_tokens

tokenized_sentences = get_tokens_from_sentences(sp,sentences)

### train w2v
w2v_name = os.path.join(data_path,"title_w2v_{}_{}.model".format(method,vocab_size))
print("start train_title_w2v....")

size = 200
window =5
min_count = 2
workers = 8
sg = 1
hs = 1

model = w2v(tokenized_sentences,size=size,window=window,min_count=min_count,workers=workers,sg=sg,hs=hs)
model.save(w2v_name)
print("title_w2v {} is generated".format(w2v_name))

# ### get embedding

sp = spm.SentencePieceProcessor()
sp.Load(tokenizer_name_model)

w2v_model = w2v.load(w2v_name)

sentence_embs = []
# # 학습이 안되는 벡터들에 대해서는 0값이 나으므로 0벡터로 input 처리 수행
for sentence in tqdm_notebook(tokenized_sentences):
  word_embs = []
  for p_word in sentence:
    try:
      word_embs.append(w2v_model.wv[p_word])
    except KeyError:
      pass
  if len(word_embs):
    p_emb = np.average(word_embs, axis=0).tolist()
  else:
    p_emb = np.zeros(200).tolist()
  sentence_embs.append(p_emb)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:21: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=9742.0), HTML(value='')))

title_tokenizer /gdrive/MyDrive/colab/Factorization_Machine/data/title_tokenizer_bpe_24000 is generated
start train_title_w2v....
title_w2v /gdrive/MyDrive/colab/Factorization_Machine/data/title_w2v_bpe_24000.model is generated

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:84: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=9742.0), HTML(value='')))

In [24]:
movies.loc[:,"title_vector"] = pd.Series(sentence_embs)
movies.head()

   movieId  ...                                       title_vector
0        1  ...  [0.07315196096897125, 0.03338630869984627, -0....
1        2  ...  [0.012492736801505089, -0.0013318296987563372,...
2        3  ...  [0.1090451180934906, 0.04261535033583641, -0.0...
3        4  ...  [0.09161976724863052, 0.05943426117300987, -0....
4        5  ...  [0.1521586775779724, 0.08280359953641891, -0.0...

[5 rows x 8 columns]

In [25]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### 1.2. DataPreparation for lighFM

In [26]:
org_ratings = ratings.copy()
org_movies = movies.copy()

In [27]:
ratings.loc[:,"movieId"] = (ratings.movieId - 1)
ratings.loc[:,"userId"] = (ratings.userId - 1)

movies.loc[:,"movieId"] = (movies.movieId - 1)

#### 1.2.1. Define user/item features

In [28]:
len_gnr_vec = len(movies.iloc[0]["genres_vectors"])
len_year_vec = len(movies.iloc[0]["launch_year_vectors"])
# len_title_vec = len(movies.iloc[0]["title_vector"])

In [43]:
gnr_vec_cols = [ "gv_{}".format(i) for i in range(len_gnr_vec)]
year_vec_cols = [ "yv_{}".format(i) for i in range(len_year_vec)]
# title_vec_cols = [ "tv_{}".format(i) for i in range(len_title_vec)]

In [44]:
list_if = [ gnr_vec+":"+"{}".format(i) for gnr_vec in gnr_vec_cols for i in range(2)] + [ year_vec+":"+"{}".format(i) for year_vec in year_vec_cols for i in range(2)]

In [45]:
gnr_vec_list = list(map(lambda x: [ "{}".format(gnr_vec_cols[idx])+":"+"{}".format(value) for idx,value in enumerate(x)] ,movies.genres_vectors.to_list()))
year_vec_list = list(map(lambda x: [ "{}".format(year_vec_cols[idx])+":"+"{}".format(value) for idx,value in enumerate(x)] ,movies.launch_year_vectors.to_list()))
# title_vec_list = list(map(lambda x: [ "{}".format(title_vec_cols[idx])+":"+"{}".format(value) for idx,value in enumerate(x)] ,movies.title_vector.to_list()))

In [46]:
# item_vec_list = np.concatenate([np.array(gnr_vec_list), np.array(year_vec_list), np.array(title_vec_list)],axis=1)
item_vec_list = np.concatenate([np.array(gnr_vec_list), np.array(year_vec_list)],axis=1)

In [47]:
item_tuple= list(zip(movies.movieId, item_vec_list))

#### 1.2.2. Define dataset

In [48]:
from lightfm.data import Dataset

dataset = Dataset()

user_ids = [i for i in range(ratings.userId.max()+1)]
movie_ids = [i for i in range(movies.movieId.max()+1)]

dataset.fit(
    user_ids,
    movie_ids,
    item_features = list_if
)

#### 1.2.3. Define interaction

In [49]:
ratings.loc[:,"user_movie_rating"] = pd.Series(list(zip(ratings.userId, ratings.movieId, ratings.rating)))
ratings.head()

   userId  movieId  rating  timestamp user_movie_rating
0       0        0     4.0  964982703       (0, 0, 4.0)
1       0        2     4.0  964981247       (0, 2, 4.0)
2       0        5     4.0  964982224       (0, 5, 4.0)
3       0       46     5.0  964983815      (0, 46, 5.0)
4       0       49     5.0  964982931      (0, 49, 5.0)

In [35]:
interactions, weights = dataset.build_interactions(ratings["user_movie_rating"])

In [36]:
interactions

<610x193609 sparse matrix of type '<class 'numpy.int32'>'
	with 100836 stored elements in COOrdinate format>

In [37]:
weights

<610x193609 sparse matrix of type '<class 'numpy.float32'>'
	with 100836 stored elements in COOrdinate format>

In [38]:
item_tuple[0]

(0, array(['gv_0:0', 'gv_1:0', 'gv_2:1', 'gv_3:1', 'gv_4:1', 'gv_5:1',
        'gv_6:0', 'gv_7:0', 'gv_8:0', 'gv_9:1', 'gv_10:0', 'gv_11:0',
        'gv_12:0', 'gv_13:0', 'gv_14:0', 'gv_15:0', 'gv_16:0', 'gv_17:0',
        'gv_18:0', 'gv_19:0', 'yv_0:0', 'yv_1:0', 'yv_2:0', 'yv_3:0',
        'yv_4:0', 'yv_5:0', 'yv_6:0', 'yv_7:0', 'yv_8:0', 'yv_9:0',
        'yv_10:0', 'yv_11:0', 'yv_12:0', 'yv_13:0', 'yv_14:0', 'yv_15:0',
        'yv_16:0', 'yv_17:0', 'yv_18:0', 'yv_19:0', 'yv_20:0', 'yv_21:0',
        'yv_22:0', 'yv_23:0', 'yv_24:0', 'yv_25:0', 'yv_26:0', 'yv_27:0',
        'yv_28:0', 'yv_29:0', 'yv_30:0', 'yv_31:0', 'yv_32:0', 'yv_33:0',
        'yv_34:0', 'yv_35:0', 'yv_36:0', 'yv_37:0', 'yv_38:0', 'yv_39:0',
        'yv_40:0', 'yv_41:0', 'yv_42:0', 'yv_43:0', 'yv_44:0', 'yv_45:0',
        'yv_46:0', 'yv_47:0', 'yv_48:0', 'yv_49:0', 'yv_50:0', 'yv_51:0',
        'yv_52:0', 'yv_53:0', 'yv_54:0', 'yv_55:0', 'yv_56:0', 'yv_57:0',
        'yv_58:0', 'yv_59:0', 'yv_60:0', 'yv_61:0', 'yv_62:0', 'yv_63:0',
        'yv_64:0', 'yv_65:0', 'yv_66:0', 'yv_67:0', 'yv_68:0', 'yv_69:0',
        'yv_70:0', 'yv_71:0', 'yv_72:0', 'yv_73:0', 'yv_74:0', 'yv_75:0',
        'yv_76:0', 'yv_77:0', 'yv_78:0', 'yv_79:0', 'yv_80:0', 'yv_81:0',
        'yv_82:0', 'yv_83:1', 'yv_84:0', 'yv_85:0', 'yv_86:0', 'yv_87:0',
        'yv_88:0', 'yv_89:0', 'yv_90:0', 'yv_91:0', 'yv_92:0', 'yv_93:0',
        'yv_94:0', 'yv_95:0', 'yv_96:0', 'yv_97:0', 'yv_98:0', 'yv_99:0',
        'yv_100:0', 'yv_101:0', 'yv_102:0', 'yv_103:0', 'yv_104:0',
        'yv_105:0', 'yv_106:0'], dtype='<U8'))

In [39]:
item_features = dataset.build_item_features(item_tuple, normalize=False)

### 1.3. Train LightFM

In [63]:
from lightfm import cross_validation
from lightfm import LightFM

class TrainLightFM:
  def __init__(self):
    pass

  def train_test_split(self, interactions, weights, random_state=101):
    train_interactions, test_interactions = cross_validation.random_train_test_split(interactions, random_state=np.random.RandomState(101))
    train_weights, test_weights = cross_validation.random_train_test_split(weights, random_state=np.random.RandomState(101))
    
    return train_interactions, test_interactions, train_weights, test_weights

  def fit(self, interactions, weights, user_features, item_features, cross_validation=False, no_components=150, learning_rate=0.05, loss="warp", random_state=101, verbose=True, num_threads=4, epochs=5):
    model = LightFM(no_components, learning_rate, loss=loss, random_state=random_state)

    if cross_validation:
      train_interactions, test_interactions, train_weights, test_weights = self.train_test_split(interactions, weights, random_state)
      model.fit(train_interactions, user_features=user_features, item_features=item_features, sample_weight=train_weights,epochs=epochs, num_threads=num_threads, verbose=verbose)

      return model, train_interactions, test_interactions, train_weights, test_weights

    else:
      model.fit(interactions, item_features=item_features, user_features=user_features, sample_weight=weights, epochs=epochs, num_threads=num_threads, verbose=verbose)

      return model

In [ ]:
lightFM_trainer = TrainLightFM()

# non_val_model = lightFM_trainer.fit(interactions, weights, user_features=None, item_features=item_features, cross_validation=False, no_components=150, learning_rate=0.05, loss="warp", random_state=101, verbose=True, num_threads=4, epochs=5)
val_model, train_interactions, test_interactions, train_weights, test_weights = lightFM_trainer.fit(interactions, weights, user_features=None, item_features=item_features, cross_validation=True, no_components=150, learning_rate=0.05, loss="warp", random_state=101, verbose=True, num_threads=4, epochs=100)

Epoch: 100%|██████████| 100/100 [02:30<00:00,  1.50s/it]

### 1.4. Make a Recommendation using LightFM

In [74]:
class LightFMRecommendations:
  def __init__(self, lightfm_model,  user_features, item_features, movies, ratings):
    self.model = lightfm_model
    self.user_features = user_features
    self.item_features = item_features
    self.movies = movies
    self.ratings = ratings

  def previous_rated_movies(self, user_id):
    previous_rated_movies = self.ratings.loc[self.ratings["userId"] == user_id]
    
    return previous_rated_movies

  def _filter_item_by_user(self, user_id, filter_previous=False):
    if filter_previous:
      previous_rated_movies = self.previous_rated_movies(user_id)
      list_prev_rated_movieIds = previous_rated_movies["movieId"].values.tolist()
      movies_for_prediction = self.movies.loc[~self.movies["movieId"].isin(list_prev_rated_movieIds)]
    else:
      movies_for_prediction = self.movies

    return movies_for_prediction

  def recommend_by_user_id(self, user_id, filter_previous=False, num_prediction=10):
    movies_for_prediction = self._filter_item_by_user(user_id,filter_previous)
    score = self.model.predict(
        user_id,
        movies_for_prediction["movieId"].values.tolist(),
        item_features=self.item_features
        # user_features=self.user_features
    )

    movies_for_prediction["recommendation_score"] = score
    movies_for_prediction = movies_for_prediction.sort_values(by="recommendation_score",ascending=False)[:num_prediction]

    return movies_for_prediction

#### 1.4.1. Result Validation

In [ ]:
from lightfm.evaluation import auc_score

def calculate_auc_score(lightfm_model, interactions_matrix, 
                        question_features, professional_features): 
    """
    Measure the ROC AUC metric for a model. 
    A perfect score is 1.0.

    Parameters
    ----------
    lightfm_model: LightFM model 
        A fitted lightfm model 
    interactions_matrix : 
        A lightfm interactions matrix 
    question_features, professional_features: 
        Lightfm features 
        
    Returns
    -------
    String containing AUC score 
    """
    score = auc_score( 
        lightfm_model, interactions_matrix, 
        item_features=question_features, 
        user_features=professional_features, 
        num_threads=4).mean()
    return score

calculate_auc_score(val_model, train_interactions, item_features, None)

0.99971306

In [ ]:
calculate_auc_score(val_model, test_interactions, item_features, None)

0.9965533

In [ ]:
### epoch 5
from lightfm.evaluation import precision_at_k

# %%time
# precision_at_k(val_model,train_interactions,item_features=item_features).mean()

In [ ]:
### epoch 100
%%time
precision_at_k(val_model,train_interactions,item_features=item_features).mean()

CPU times: user 2min 12s, sys: 2.21 ms, total: 2min 12s
Wall time: 2min 12s

0.6262295

In [ ]:
### epoch 100
%%time
precision_at_k(val_model,test_interactions, train_interactions,item_features=item_features).mean()

CPU times: user 2min 3s, sys: 1.18 ms, total: 2min 3s
Wall time: 2min 3s

0.24672131

#### 1.4.2. Make a Recommendation

In [ ]:
lightFM_recommender = LightFMRecommendations(val_model,None,item_features,movies,ratings)
movies_for_prediction_F = lightFM_recommender.recommend_by_user_id(user_id=0,filter_previous=False,num_prediction=10)
movies_for_prediction_T = lightFM_recommender.recommend_by_user_id(0,True,10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
movies_for_prediction_F

      movieId  ... recommendation_score
1503     2027  ...            82.218781
898      1195  ...            82.038666
506       587  ...            82.032471
2250     2986  ...            81.845535
2078     2761  ...            81.768730
1706     2293  ...            81.648109
911      1209  ...            81.468903
789      1031  ...            81.419182
863      1135  ...            81.401321
659       857  ...            81.366302

[10 rows x 9 columns]

In [ ]:
movies_for_prediction_T

      movieId  ... recommendation_score
506       587  ...            82.032471
2078     2761  ...            81.768730
1706     2293  ...            81.648109
659       857  ...            81.366302
922      1220  ...            81.349297
507       588  ...            81.279900
1757     2354  ...            81.099991
1390     1906  ...            81.064568
1399     1917  ...            81.037506
1623     2166  ...            81.030182

[10 rows x 9 columns]

## 2. LightFM Using Numerical Data only 

### 2.1. Reference
https://github.com/lyst/lightfm/issues/433

일반적인 Categorical한 데이터가 아닌 Numerical한 데이터를 넘기는 방식을 알아보기 위해 위의 reference를 참고한다.

아래의 build_feature와 관련된 code를 살펴보면, 
1. (item id, [list of feature names]) 
2. (item id, {feature name: feature weight})

위의 두 가지 중 한가지 방식으로 user/item feature를 선언하고 넘겨야 한다. 우선 1번의 방식으로 넘기는 것을 개발자는 권고하며, Numerical Data를 input하기 위해서는 2번 방식을 활용해야 한다.

2번 방식은 (user/item id와 dictonary[column_name]=weight) 형태로 각 user/item id별로 dataset에서 정의한 user/item feature의 column명을 key로 하여 Numeric한 weight를 value로 하는 dictionary 값을 tuple로 하여 넘겨준다.

#### 2.1.1. Build feature Related Codes

```python
def fit(self, users, items, user_features=None, item_features=None):
    """
    Fit the user/item id and feature name mappings.
    Calling fit the second time will reset existing mappings.
    Parameters
    ----------
    users: iterable of user ids
    items: iterable of item ids
    user_features: iterable of user features, optional
    item_features: iterable of item features, optional
    """

    self._user_id_mapping = {}
    self._item_id_mapping = {}
    self._user_feature_mapping = {}
    self._item_feature_mapping = {}

    return self.fit_partial(users, items, user_features, item_features)

def fit_partial(
    self, users=None, items=None, user_features=None, item_features=None
):
    """
    Fit the user/item id and feature name mappings.
    Calling fit the second time will add new entries to existing mappings.
    Parameters
    ----------
    users: iterable of user ids, optional
    items: iterable of item ids, optional
    user_features: iterable of user features, optional
    item_features: iterable of item features, optional
    """

    if users is not None:
        for user_id in users:
            self._user_id_mapping.setdefault(user_id, len(self._user_id_mapping))

            if self._user_identity_features:
                self._user_feature_mapping.setdefault(
                    user_id, len(self._user_feature_mapping)
                )

    if items is not None:
        for item_id in items:
            self._item_id_mapping.setdefault(item_id, len(self._item_id_mapping))

            if self._item_identity_features:
                self._item_feature_mapping.setdefault(
                    item_id, len(self._item_feature_mapping)
                )

    if user_features is not None:
        for user_feature in user_features:
            self._user_feature_mapping.setdefault(
                user_feature, len(self._user_feature_mapping)
            )

    if item_features is not None:
        for item_feature in item_features:
            self._item_feature_mapping.setdefault(
                item_feature, len(self._item_feature_mapping)
            )

### make item_features sparse matrix

def build_item_features(self, data, normalize=True):
    """
    Build a item features matrix out of an iterable of the form
    (item id, [list of feature names]) or (item id, {feature name: feature weight}).
    Parameters
    ----------
    data: iterable of the form
        (item id, [list of feature names]) or (item id,
        {feature name: feature weight}).
        Item and feature ids will be translated to internal indices
        constructed during the fit call.
    normalize: bool, optional
        If true, will ensure that feature weights sum to 1 in every row.
    Returns
    -------
    feature matrix: CSR matrix (num items, num features)
        Matrix of item features.
    """

    builder = _FeatureBuilder(
        self._item_id_mapping,
        self._item_feature_mapping,
        self._item_identity_features,
        normalize,
        "item",
    )

    return builder.build(data)
```

In [30]:
len_title_vec = len(movies.iloc[0]["title_vector"])
title_vec_cols = [ "tv_{}".format(i) for i in range(len_title_vec)]

### 2.2. Dict Generation Function for Numerical Value

In [91]:
def make_dict(list_x,vec_cols):
  dict_result = dict()
  for idx, element in enumerate(list_x):
    vec_col = vec_cols[idx]
    dict_result[vec_col] = element
  return dict_result

In [92]:
title_vec_list = list(map(lambda x: make_dict(x,title_vec_cols), movies.title_vector.to_list()))

In [93]:
list_if = title_vec_cols

### 2.3. Data Preparation for LightFM Dataset

#### 2.3.1. Define Dataset

In [94]:
from lightfm.data import Dataset

dataset = Dataset()

user_ids = [i for i in range(ratings.userId.max()+1)]
movie_ids = [i for i in range(movies.movieId.max()+1)]

dataset.fit(
    user_ids,
    movie_ids,
    item_features = list_if
)

In [95]:
user_id_map, user_feature_map, item_id_map, item_feature_map = dataset.mapping()

In [96]:
item_tuple= list(zip(movies.movieId, title_vec_list))

In [100]:
item_tuple[0]

(0,
 {'tv_0': -0.01961478963494301,
  'tv_1': -0.15536874532699585,
  'tv_10': 0.06477392464876175,
  'tv_100': 0.0026323827914893627,
  'tv_101': 0.07150574028491974,
  'tv_102': 0.03581303730607033,
  'tv_103': -0.008067931048572063,
  'tv_104': 0.029374364763498306,
  'tv_105': -0.1123325377702713,
  'tv_106': 0.022068066522479057,
  'tv_107': -0.0019947378896176815,
  'tv_108': 0.04598991945385933,
  'tv_109': 0.011692335829138756,
  'tv_11': -0.02988695725798607,
  'tv_110': 0.007097415626049042,
  'tv_111': -0.053981270641088486,
  'tv_112': -0.0770234689116478,
  'tv_113': -0.111599862575531,
  'tv_114': 0.0011577594559639692,
  'tv_115': -0.00457123713567853,
  'tv_116': 0.07848392426967621,
  'tv_117': -0.05979790911078453,
  'tv_118': -0.03646998852491379,
  'tv_119': 0.06403720378875732,
  'tv_12': 0.01072720717638731,
  'tv_120': -0.08241673558950424,
  'tv_121': 0.09654080122709274,
  'tv_122': -0.12356999516487122,
  'tv_123': -0.0010414426214993,
  'tv_124': -0.08140123635530472,
  'tv_125': 0.09674639999866486,
  'tv_126': 0.014956716448068619,
  'tv_127': 0.09900684654712677,
  'tv_128': 0.0165878776460886,
  'tv_129': -0.07259657233953476,
  'tv_13': 0.035919561982154846,
  'tv_130': 0.08883890509605408,
  'tv_131': -0.027670949697494507,
  'tv_132': 0.023705484345555305,
  'tv_133': 0.018286006525158882,
  'tv_134': 0.11610466986894608,
  'tv_135': -0.07746812701225281,
  'tv_136': 0.08631451427936554,
  'tv_137': 0.08949447423219681,
  'tv_138': -0.053499236702919006,
  'tv_139': 0.09838530421257019,
  'tv_14': -0.00585460988804698,
  'tv_140': 0.056379303336143494,
  'tv_141': -0.026532452553510666,
  'tv_142': -0.01154375821352005,
  'tv_143': -0.10627922415733337,
  'tv_144': 0.012596983462572098,
  'tv_145': 0.07917879521846771,
  'tv_146': 0.1615508794784546,
  'tv_147': 0.019252469763159752,
  'tv_148': 0.09421788156032562,
  'tv_149': 0.02129404991865158,
  'tv_15': 0.030392006039619446,
  'tv_150': -0.10402625054121017,
  'tv_151': 0.09379380941390991,
  'tv_152': -0.10664751380681992,
  'tv_153': -0.036204542964696884,
  'tv_154': 0.025055069476366043,
  'tv_155': -0.09214058518409729,
  'tv_156': 0.04458246007561684,
  'tv_157': 0.01004690583795309,
  'tv_158': 0.05215587839484215,
  'tv_159': 0.012921958230435848,
  'tv_16': 0.06979292631149292,
  'tv_160': -0.09651798754930496,
  'tv_161': -0.03502773120999336,
  'tv_162': -0.054552093148231506,
  'tv_163': 0.0468871183693409,
  'tv_164': -0.06367884576320648,
  'tv_165': 0.009185586124658585,
  'tv_166': 0.05483480170369148,
  'tv_167': -0.021649012342095375,
  'tv_168': 0.08804100751876831,
  'tv_169': -0.021167606115341187,
  'tv_17': 0.16039539873600006,
  'tv_170': 0.08880725502967834,
  'tv_171': 0.046414025127887726,
  'tv_172': -0.08563823252916336,
  'tv_173': -0.051774971187114716,
  'tv_174': -0.05062948539853096,
  'tv_175': 0.002238426823168993,
  'tv_176': -0.004699721001088619,
  'tv_177': 0.09064783155918121,
  'tv_178': 0.0900290459394455,
  'tv_179': 0.0552251860499382,
  'tv_18': 0.03726315125823021,
  'tv_180': 0.05423269048333168,
  'tv_181': -0.06601279228925705,
  'tv_182': 0.04684927314519882,
  'tv_183': -0.030280889943242073,
  'tv_184': 0.04728970676660538,
  'tv_185': 0.0372069776058197,
  'tv_186': -0.14976750314235687,
  'tv_187': 0.06534336507320404,
  'tv_188': -0.2141457200050354,
  'tv_189': 0.04339274391531944,
  'tv_19': -0.014223446138203144,
  'tv_190': 0.008025744929909706,
  'tv_191': 0.0005503251450136304,
  'tv_192': 0.0014920246321707964,
  'tv_193': 0.2285008430480957,
  'tv_194': -0.0091930590569973,
  'tv_195': 0.051584772765636444,
  'tv_196': -0.10598792135715485,
  'tv_197': 0.07789020240306854,
  'tv_198': -0.07930350303649902,
  'tv_199': 0.03808475285768509,
  'tv_2': -0.04679436236619949,
  'tv_20': 0.12097468227148056,
  'tv_21': 0.07722830772399902,
  'tv_22': -0.00338291609659791,
  'tv_23': 0.03959854692220688,
  'tv_24': -0.00812014751136303,
  'tv_25': -0.06882665306329727,
  'tv_26': -0.011026333086192608,
  'tv_27': 0.03690870851278305,
  'tv_28': -0.15827009081840515,
  'tv_29': 0.03486880660057068,
  'tv_3': -0.009817967191338539,
  'tv_30': -0.03871030732989311,
  'tv_31': 0.025087572634220123,
  'tv_32': 0.012450901791453362,
  'tv_33': -0.06980956345796585,
  'tv_34': -0.008752550929784775,
  'tv_35': -0.12044723331928253,
  'tv_36': 0.10284423828125,
  'tv_37': 0.07961197942495346,
  'tv_38': -0.015527862124145031,
  'tv_39': 0.02182045392692089,
  'tv_4': 0.020606502890586853,
  'tv_40': 0.07578525692224503,
  'tv_41': 0.013987431302666664,
  'tv_42': -0.023852979764342308,
  'tv_43': 0.04023812338709831,
  'tv_44': 0.09285612404346466,
  'tv_45': -0.08007563650608063,
  'tv_46': -0.040023818612098694,
  'tv_47': 0.032582495361566544,
  'tv_48': 0.07137960940599442,
  'tv_49': -0.1220887303352356,
  'tv_5': -0.005381468683481216,
  'tv_50': 0.012867871671915054,
  'tv_51': 0.17175230383872986,
  'tv_52': 0.05261877551674843,
  'tv_53': 0.07826230674982071,
  'tv_54': 0.003990312106907368,
  'tv_55': -0.03647897392511368,
  'tv_56': 0.011447349563241005,
  'tv_57': -0.031136834993958473,
  'tv_58': 0.039441999047994614,
  'tv_59': -0.040551673620939255,
  'tv_6': 0.023812467232346535,
  'tv_60': 0.1337359994649887,
  'tv_61': -0.0030371174216270447,
  'tv_62': 0.01581704430282116,
  'tv_63': -0.07511936128139496,
  'tv_64': 0.12234548479318619,
  'tv_65': -0.020582275465130806,
  'tv_66': -0.031229741871356964,
  'tv_67': -0.11875377595424652,
  'tv_68': -0.00025117211043834686,
  'tv_69': 0.08476299047470093,
  'tv_7': 0.13126389682292938,
  'tv_70': 0.11447262018918991,
  'tv_71': 0.04907755181193352,
  'tv_72': 0.1176082193851471,
  'tv_73': 0.017532726749777794,
  'tv_74': 0.0022908919490873814,
  'tv_75': -0.20384562015533447,
  'tv_76': 0.036287546157836914,
  'tv_77': -0.002000219188630581,
  'tv_78': -0.09009800851345062,
  'tv_79': 0.08197830617427826,
  'tv_8': 0.08442790061235428,
  'tv_80': -0.0302727073431015,
  'tv_81': -0.048745863139629364,
  'tv_82': -0.010553073137998581,
  'tv_83': -0.05964002013206482,
  'tv_84': 0.06348125636577606,
  'tv_85': -0.08408414572477341,
  'tv_86': -0.041126083582639694,
  'tv_87': 0.04648210108280182,
  'tv_88': 0.06789670139551163,
  'tv_89': 0.08862995356321335,
  'tv_9': -0.003924700431525707,
  'tv_90': 0.08080753684043884,
  'tv_91': -0.020217876881361008,
  'tv_92': -0.05785980448126793,
  'tv_93': -0.08867762982845306,
  'tv_94': 0.022026294842362404,
  'tv_95': -0.11991800367832184,
  'tv_96': 0.05471150204539299,
  'tv_97': -0.043238550424575806,
  'tv_98': -0.04333736374974251,
  'tv_99': -0.02677108533680439})

#### 2.3.2. Define Interaction and User/Item Features

In [98]:
interactions, weights = dataset.build_interactions(ratings["user_movie_rating"])

item_features = dataset.build_item_features(item_tuple, normalize=False)

In [50]:
item_features

<193609x193809 sparse matrix of type '<class 'numpy.float32'>'
	with 2142009 stored elements in Compressed Sparse Row format>

### 2.4. Train LightFM

In [ ]:
lightFM_trainer = TrainLightFM()

# non_val_model = lightFM_trainer.fit(interactions, weights, user_features=None, item_features=item_features, cross_validation=False, no_components=150, learning_rate=0.05, loss="warp", random_state=101, verbose=True, num_threads=4, epochs=5)
val_model, train_interactions, test_interactions, train_weights, test_weights = lightFM_trainer.fit(interactions, weights, user_features=None, item_features=item_features, cross_validation=True, no_components=150, learning_rate=0.05, loss="warp", random_state=101, verbose=True, num_threads=4, epochs=100)

Epoch: 100%|██████████| 100/100 [04:24<00:00,  2.64s/it]

### 2.5. Make a Recommendation using LightFM
#### 2.5.1. Result Validation

In [ ]:
calculate_auc_score(val_model, train_interactions, item_features, None)

0.999658

In [ ]:
calculate_auc_score(val_model, test_interactions, item_features, None)

0.9875042

In [ ]:
### epoch 100
%%time
precision_at_k(val_model,train_interactions,item_features=item_features).mean()

CPU times: user 2min 54s, sys: 8.17 ms, total: 2min 54s
Wall time: 2min 55s

0.6034426

In [ ]:
### epoch 100
%%time
precision_at_k(val_model,test_interactions, train_interactions,item_features=item_features).mean()

CPU times: user 2min 43s, sys: 8.15 ms, total: 2min 43s
Wall time: 2min 43s

0.21262297

#### 2.5.2. Make a Recommendation

In [ ]:
lightFM_recommender = LightFMRecommendations(val_model,None,item_features,movies,ratings)
movies_for_prediction_F = lightFM_recommender.recommend_by_user_id(user_id=0,filter_previous=False,num_prediction=10)
movies_for_prediction_T = lightFM_recommender.recommend_by_user_id(0,True,10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
movies_for_prediction_F

      movieId  ... recommendation_score
815      1072  ...             2.989305
224       259  ...             2.794700
911      1209  ...             2.615184
898      1195  ...             2.563305
984      1284  ...             2.400512
2250     2986  ...             2.328219
546       647  ...             2.291911
1261     1675  ...             2.285181
1979     2627  ...             2.230127
915      1213  ...             2.170139

[10 rows x 9 columns]

In [ ]:
movies_for_prediction_T

      movieId  ... recommendation_score
984      1284  ...             2.400512
793      1035  ...             2.081971
1164     1543  ...             2.081262
2097     2790  ...             2.024816
2110     2803  ...             1.871940
2027     2698  ...             1.831845
1404     1922  ...             1.807715
1033     1344  ...             1.775203
1563     2099  ...             1.699896
1158     1526  ...             1.661327

[10 rows x 9 columns]

## 3. LightFM Using Categorical and Numerical Data

### 3.1. Reference
https://github.com/lyst/lightfm/issues/565

시행 착오를 거쳐 두 가지 타입의 데이터를 모두 학습시키기 위해서는 2번 방식으로 데이터를 넣어야 한다. 그러나, FM자체가 One-Hot Encoding 방식으로 column-wise하게 값을 분산하여 각 컬럼간의 interaction을 통해 진행하므로 Continuous한 방식은 사용하지 않는 것을 추천한다. 
1. (item id, [list of feature names]) 
2. (item id, {feature name: feature weight})

1번 방식으로 넣었던 Categorical Data도 2번 방식으로 변환하여 Data를 변환한다.

In [50]:
gnr_vec_cols = [ "gv_{}".format(i) for i in range(len_gnr_vec)]
year_vec_cols = [ "yv_{}".format(i) for i in range(len_year_vec)]
title_vec_cols = [ "tv_{}".format(i) for i in range(len_title_vec)]

# list_if = [ gnr_vec+":"+"{}".format(i) for gnr_vec in gnr_vec_cols for i in range(2)] + [ year_vec+":"+"{}".format(i) for year_vec in year_vec_cols for i in range(2)] + title_vec_cols
list_if = gnr_vec_cols + year_vec_cols + title_vec_cols

In [51]:
# gnr_vec_list = list(map(lambda x: [ "{}".format(gnr_vec_cols[idx])+":"+"{}".format(value) for idx,value in enumerate(x)] ,movies.genres_vectors.to_list()))
# year_vec_list = list(map(lambda x: [ "{}".format(year_vec_cols[idx])+":"+"{}".format(value) for idx,value in enumerate(x)] ,movies.launch_year_vectors.to_list()))

In [52]:
movies.head()

   movieId  ...                                       title_vector
0        0  ...  [0.07315196096897125, 0.03338630869984627, -0....
1        1  ...  [0.012492736801505089, -0.0013318296987563372,...
2        2  ...  [0.1090451180934906, 0.04261535033583641, -0.0...
3        3  ...  [0.09161976724863052, 0.05943426117300987, -0....
4        4  ...  [0.1521586775779724, 0.08280359953641891, -0.0...

[5 rows x 8 columns]

In [53]:
def make_dict(list_x,vec_cols):
  dict_result = dict()
  for idx, element in enumerate(list_x):
    vec_col = vec_cols[idx]
    dict_result[vec_col] = element
  return dict_result

gnr_vec_list = list(map(lambda x: make_dict(x,gnr_vec_cols), movies.genres_vectors.to_list()))
year_vec_list = list(map(lambda x: make_dict(x,year_vec_cols), movies.launch_year_vectors.to_list()))
title_vec_list = list(map(lambda x: make_dict(x,title_vec_cols), movies.title_vector.to_list()))

In [54]:
dummy = gnr_vec_list +year_vec_list + title_vec_list

In [55]:
item_vec_list = np.concatenate([np.array(gnr_vec_list).reshape(-1,1), np.array(year_vec_list).reshape(-1,1),np.array(title_vec_list).reshape(-1,1)],axis=1)
item_vec_list.shape

(9742, 3)

In [56]:
list_item_vec_dict = list()
for dicts in item_vec_list:
  new_dict = dict()
  for element in dicts:
    new_dict.update(element)
  list_item_vec_dict.append(new_dict)

In [57]:
item_tuple= list(zip(movies.movieId, list_item_vec_dict))

### 3.2. Data Preparation for LightFM Dataset

#### 3.2.1. Define Dataset

In [58]:
from lightfm.data import Dataset

dataset = Dataset()

user_ids = [i for i in range(ratings.userId.max()+1)]
movie_ids = [i for i in range(movies.movieId.max()+1)]

dataset.fit(
    user_ids,
    movie_ids,
    item_features = list_if
)

In [59]:
user_id_map, user_feature_map, item_id_map, item_feature_map = dataset.mapping()

#### 3.2.2. Define Interaction and User/Item Features

In [60]:
interactions, weights = dataset.build_interactions(ratings["user_movie_rating"])

item_features = dataset.build_item_features(item_tuple, normalize=False)

In [61]:
item_features

<193609x193936 sparse matrix of type '<class 'numpy.float32'>'
	with 3379243 stored elements in Compressed Sparse Row format>

### 3.3. Train LightFM

In [65]:
lightFM_trainer = TrainLightFM()

# non_val_model = lightFM_trainer.fit(interactions, weights, user_features=None, item_features=item_features, cross_validation=False, no_components=150, learning_rate=0.05, loss="warp", random_state=101, verbose=True, num_threads=4, epochs=5)
val_model, train_interactions, test_interactions, train_weights, test_weights = lightFM_trainer.fit(interactions, weights, user_features=None, item_features=item_features, cross_validation=True, no_components=150, learning_rate=0.05, loss="warp", random_state=101, verbose=True, num_threads=4, epochs=100)

Epoch: 100%|██████████| 100/100 [06:18<00:00,  3.79s/it]

In [70]:
from lightfm.evaluation import auc_score
from lightfm.evaluation import precision_at_k

def calculate_auc_score(lightfm_model, interactions_matrix, 
                        question_features, professional_features): 
    """
    Measure the ROC AUC metric for a model. 
    A perfect score is 1.0.

    Parameters
    ----------
    lightfm_model: LightFM model 
        A fitted lightfm model 
    interactions_matrix : 
        A lightfm interactions matrix 
    question_features, professional_features: 
        Lightfm features 
        
    Returns
    -------
    String containing AUC score 
    """
    score = auc_score( 
        lightfm_model, interactions_matrix, 
        item_features=question_features, 
        user_features=professional_features, 
        num_threads=4).mean()
    return score

### 3.4. Make a Recommendation using LightFM
#### 3.4.1. Result Validation

In [67]:
%%time
calculate_auc_score(val_model, train_interactions, item_features, None)

CPU times: user 7min 44s, sys: 110 ms, total: 7min 44s
Wall time: 1min 57s

0.9996857

In [68]:
%%time
calculate_auc_score(val_model, test_interactions, item_features, None)

CPU times: user 7min 23s, sys: 107 ms, total: 7min 23s
Wall time: 1min 51s

0.99431473

In [72]:
### epoch 100
%%time
precision_at_k(val_model,train_interactions,item_features=item_features).mean()

CPU times: user 3min 57s, sys: 11.2 ms, total: 3min 57s
Wall time: 3min 57s

0.6147541

In [78]:
### epoch 100
%%time
precision_at_k(val_model,test_interactions, train_interactions,item_features=item_features).mean()

CPU times: user 3min 55s, sys: 13.1 ms, total: 3min 55s
Wall time: 3min 55s

0.23295084

#### 3.4.2. Make a Recommendation

In [75]:
lightFM_recommender = LightFMRecommendations(val_model,None,item_features,movies,ratings)
movies_for_prediction_F = lightFM_recommender.recommend_by_user_id(user_id=0,filter_previous=False,num_prediction=10)
movies_for_prediction_T = lightFM_recommender.recommend_by_user_id(0,True,10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [76]:
movies_for_prediction_F

      movieId  ... recommendation_score
0           0  ...             4.076505
224       259  ...             4.010240
900      1197  ...             3.745547
2355     3113  ...             3.721978
1503     2027  ...             3.544369
815      1072  ...             3.492622
922      1220  ...             3.489672
2250     2986  ...             3.343330
1628     2173  ...             3.287401
977      1277  ...             3.286308

[10 rows x 9 columns]

In [77]:
movies_for_prediction_T

      movieId  ... recommendation_score
2355     3113  ...             3.721978
922      1220  ...             3.489672
506       587  ...             3.226090
277       317  ...             3.210889
2078     2761  ...             3.047901
1           1  ...             2.948696
1706     2293  ...             2.935027
2097     2790  ...             2.890458
1067     1386  ...             2.881080
1472     1996  ...             2.852911

[10 rows x 9 columns]